{% extends 'base.html' %}
{% block content %}
<h2>Refugee Registration Form</h2>
<form method="POST" action="{{ url_for('submit_form') }}">
  <h5>First name:</h5>
    <p><input type="text" id="first_name" name="first_name"   placeholder="First name" required></p>
    <h5> Last name:</h5>
     <p><input type="text" name="last_name"  placeholder=" Last name" required></p>
    <h5>country</h5>
    <p>
    <select name="country" id="Country:">
        <option value="select">select</option>
    <option value="Ukraine">Ukraine</option>
    <option value="Afghanistan">Afghanistan</option>
    <option value="Syria">Syria</option>
    <option value="Turky">Turky</option>
  </select>
  </p>
    <h5> Date of birth:</h5>
     <p><input type="date" name="date_of_birth" id =date_of_birth required></p>
    <h5> Gender:</h5>
     <p><input type="text" name="gender" placeholder="male/female " required></p>
    <h5> Medical Condition:</h5>
     <p><input type="text" name="medical_condition" placeholder="yes/no" required></p>
    <h5> Family size: </h5>
     <p><input type="text" id="family_size" name="family_size" placeholder="amount of people" required></p>
    <h5> Phone number: </h5>
     <p><input type="text" name="phone_number" placeholder="(+00) 00 000 00 00" required></p>
    <h5> Email:</h5>
    <p><input type="email" name="email" placeholder="email" required></p>

  <p><button type="submit">Submit</button></p>
</form>
{% endblock %}